@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
#selfimp-list li::before {
  content: "";
  height: 40px;
  width: 2px;
  position: absolute;
  left: -2px;
  background: linear-gradient(transparent, rgb(255, 21, 255), transparent);
  top: 10%;
  opacity: 0;
  transition: top, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

#selfimp-list li:hover::before {
  opacity: 1;
  top: 50%;
}

#self-aware-div::before {
  content: "";
  position: absolute;
  top: 24%;
  left: 20%;
  right: 20%;
  border-top: 3px dashed rgb(240, 208, 93);
}

#bubbles::after {
  content: "";
  position: absolute;
  background-color: rgb(126, 62, 228);
  aspect-ratio: 1;
  width: 18px;
  border-radius: 50%;
}

#work-scroll::-webkit-scrollbar {
  width: 4px;
  background-color: white;
}

#work-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(109 40 217);
  border-radius: 3px;
}
